.navbar{
    background-color: bisque;
}

footer{
    background-color: bisque;
    height: 55px;
    margin: 0;
    top: 50px;
}

footer{
    text-align: center;
}

footer p{
    display: inline-block;
}

form{
    width: 100%;
}