.navbar{
    background-color: bisque;
}

footer{
    background-color: bisque;
    height: 6.5vh;
    margin: 0;
    top: 50vh;
}

footer{
    text-align: center;
}

footer p{
    display: inline-block;
}

form{
    width: 100%;
}

form {
    padding: 1em;
    border: 0.5vw solid #ccc;
    border-radius: 1em;
  }

.formulario ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

input{
    width: 100%;
}

.title, .content{
    margin: 9vh 0px;
    /* margin: 50px 0px; */
}

.card{ 
    display: inline-block; 
    margin: 3rem 0rem;
}

.checkboxMenu{
    display: grid;
    grid-row-gap: 2vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.checkboxMenu .checkboxOption{
    display: flex;
    flex-direction: row;

    input{
        max-width: 10vw;
        max-height: auto;
    }
}